:root {
    --slide-offset: 75px;
}

.fade-enter {
    opacity: 0;
    left: var(--slide-offset);
    position: relative;
}

.fade-enter-active {
    opacity: 1;
    left: 0;
    position: relative;
}

.fade-exit {
    opacity: 1;
    left: 0;
    position: relative;
}

.fade-exit-active {
    opacity: 0;
    left: calc(var(--slide-offset)*-1);
    position: relative;
}