:root {
  --toolbar-height: 75px;
  --border-color: #555;
  --toolbar-background: #fdfeff;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.AppWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Toolbar {
  width: 100%;
  height: var(--toolbar-height);
  border-bottom: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  padding: 0.25rem 0.85rem;
  background-color: var(--toolbar-background);
  box-shadow: var(--shadow);
}

.Coords {
  display: flex;
  flex-direction: column;
}

.MainCanvasWrapper {
  /* border: solid 1px #222; */
  height: calc(100% - var(--toolbar-height));
  position: relative;
}

.FloatingInputWrapper {
  position: absolute;
}

.FloatingInput {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  font-size: 14pt;
}